.businessListContainer {
  display: grid;
  grid-template-columns: 1fr;
  gap: 3rem;
  margin-top: 3rem;
}

@media only screen and (min-width: 700px) {
  .businessListContainer {
    grid-template-columns: 1fr 1fr;
    gap: 3rem;
  }
}

@media only screen and (min-width: 1000px) {
  .businessListContainer {
    grid-template-columns: 1fr 1fr 1fr;
    gap: 3rem;
  }
}
