.sortContainer {
  margin-top: 5rem;
}

.sortContainer li {
  text-decoration: none;
  list-style-type: none;
  display: block;
  float: left;
}

.sortButton {
  background: none;
  border: none;
}

.searchInput {
  display: block;
  float: left;
  margin-top: 2rem;
  margin-bottom: 1rem;
}

.searchInput:last-of-type {
  margin-left: 1rem;
}

.searchButton {
  display: block;
  clear: left;
  margin: 2rem auto;
}
