.businessContainer {
  max-width: 300px;
}

.imageContainer {
  width: 100%;
}

.businessImage {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.informationContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 2rem;
  padding: 0.5rem 1rem;
}

.textContainer h2 {
  font-size: 16px;
}

.category {
  font-size: 20px;
  color: goldenrod;
}
